In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv("data/faithful.csv")
df

In [ ]:
df1= pd.read_csv("data/owid-covid-data.csv")
df1

In [ ]:
df.shape

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37194 entries, 0 to 37193
Data columns (total 36 columns):
iso_code                           37130 non-null object
continent                          36900 non-null object
location                           37194 non-null object
date                               37194 non-null object
total_cases                        36842 non-null float64
new_cases                          36842 non-null float64
total_deaths                       36842 non-null float64
new_deaths                         36842 non-null float64
total_cases_per_million            36778 non-null float64
new_cases_per_million              36778 non-null float64
total_deaths_per_million           36778 non-null float64
new_deaths_per_million             36778 non-null float64
new_tests                          11606 non-null float64
total_tests                        11950 non-null float64
total_tests_per_thousand           11950 non-null float64
new_tests_per_thousand             11606 non-null float64
new_tests_smoothed                 13068 non-null float64
new_tests_smoothed_per_thousand    13068 non-null float64
tests_per_case                     12206 non-null float64
positive_rate                      12555 non-null float64
tests_units                        13816 non-null object
stringency_index                   30747 non-null float64
population                         37130 non-null float64
population_density                 35489 non-null float64
median_age                         33419 non-null float64
aged_65_older                      32929 non-null float64
aged_70_older                      33246 non-null float64
gdp_per_capita                     32999 non-null float64
extreme_poverty                    22068 non-null float64
cardiovasc_death_rate              33437 non-null float64
diabetes_prevalence                34575 non-null float64
female_smokers                     26421 non-null float64
male_smokers                       26099 non-null float64
handwashing_facilities             15420 non-null float64
hospital_beds_per_thousand         30329 non-null float64
life_expectancy                    36674 non-null float64
dtypes: float64(31), object(5)
memory usage: 10.2+ MB

In [16]:
pd.set_option('display.max_columns', 50)

In [28]:
pd.set_option('display.max_rows', 85)

In [9]:
df

NameError: name 'df' is not defined

In [25]:
df.head(10)

   Index   "Eruption length (mins)"  Eruption wait (mins)
0      1                      3.600                    79
1      2                      1.800                    54
2      3                      3.333                    74
3      4                      2.283                    62
4      5                      4.533                    85
5      6                      2.883                    55
6      7                      4.700                    88
7      8                      3.600                    85
8      9                      1.950                    51
9     10                      4.350                    85

In [8]:
df1.tail(10)

NameError: name 'df1' is not defined

In [44]:
f= open('data/faithful.csv')
path='data/faithful.csv'
contents= f.read()

In [45]:
lines = [x.rstrip() for x in open(path)]

In [46]:
type(contents )
lines

['"Index", "Eruption length (mins)","Eruption wait (mins)"',
 '  1, 3.600, 79',
 '  2, 1.800, 54',
 '  3, 3.333, 74',
 '  4, 2.283, 62',
 '  5, 4.533, 85',
 '  6, 2.883, 55',
 '  7, 4.700, 88',
 '  8, 3.600, 85',
 '  9, 1.950, 51',
 ' 10, 4.350, 85',
 ' 11, 1.833, 54',
 ' 12, 3.917, 84',
 ' 13, 4.200, 78',
 ' 14, 1.750, 47',
 ' 15, 4.700, 83',
 ' 16, 2.167, 52',
 ' 17, 1.750, 62',
 ' 18, 4.800, 84',
 ' 19, 1.600, 52',
 ' 20, 4.250, 79',
 ' 21, 1.800, 51',
 ' 22, 1.750, 47',
 ' 23, 3.450, 78',
 ' 24, 3.067, 69',
 ' 25, 4.533, 74',
 ' 26, 3.600, 83',
 ' 27, 1.967, 55',
 ' 28, 4.083, 76',
 ' 29, 3.850, 78',
 ' 30, 4.433, 79',
 ' 31, 4.300, 73',
 ' 32, 4.467, 77',
 ' 33, 3.367, 66',
 ' 34, 4.033, 80',
 ' 35, 3.833, 74',
 ' 36, 2.017, 52',
 ' 37, 1.867, 48',
 ' 38, 4.833, 80',
 ' 39, 1.833, 59',
 ' 40, 4.783, 90',
 ' 41, 4.350, 80',
 ' 42, 1.883, 58',
 ' 43, 4.567, 84',
 ' 44, 1.750, 58',
 ' 45, 4.533, 73',
 ' 46, 3.317, 83',
 ' 47, 3.833, 64',
 ' 48, 2.100, 53',
 ' 49, 4.633, 82',
 ' 50, 2.000, 59',
 ' 51, 4.800, 75',
 ' 52, 4.716, 90',
 ' 53, 1.833, 54',
 ' 54, 4.833, 80',
 ' 55, 1.733, 54',
 ' 56, 4.883, 83',
 ' 57, 3.717, 71',
 ' 58, 1.667, 64',
 ' 59, 4.567, 77',
 ' 60, 4.317, 81',
 ' 61, 2.233, 59',
 ' 62, 4.500, 84',
 ' 63, 1.750, 48',
 ' 64, 4.800, 82',
 ' 65, 1.817, 60',
 ' 66, 4.400, 92',
 ' 67, 4.167, 78',
 ' 68, 4.700, 78',
 ' 69, 2.067, 65',
 ' 70, 4.700, 73',
 ' 71, 4.033, 82',
 ' 72, 1.967, 56',
 ' 73, 4.500, 79',
 ' 74, 4.000, 71',
 ' 75, 1.983, 62',
 ' 76, 5.067, 76',
 ' 77, 2.017, 60',
 ' 78, 4.567, 78',
 ' 79, 3.883, 76',
 ' 80, 3.600, 83',
 ' 81, 4.133, 75',
 ' 82, 4.333, 82',
 ' 83, 4.100, 70',
 ' 84, 2.633, 65',
 ' 85, 4.067, 73',
 ' 86, 4.933, 88',
 ' 87, 3.950, 76',
 ' 88, 4.517, 80',
 ' 89, 2.167, 48',
 ' 90, 4.000, 86',
 ' 91, 2.200, 60',
 ' 92, 4.333, 90',
 ' 93, 1.867, 50',
 ' 94, 4.817, 78',
 ' 95, 1.833, 63',
 ' 96, 4.300, 72',
 ' 97, 4.667, 84',
 ' 98, 3.750, 75',
 ' 99, 1.867, 51',
 '100, 4.900, 82',
 '101, 2.483, 62',
 '102, 4.367, 88',
 '103, 2.100, 49',
 '104, 4.500, 83',
 '105, 4.050, 81',
 '106, 1.867, 47',
 '107, 4.700, 84',
 '108, 1.783, 52',
 '109, 4.850, 86',
 '110, 3.683, 81',
 '111, 4.733, 75',
 '112, 2.300, 59',
 '113, 4.900, 89',
 '114, 4.417, 79',
 '115, 1.700, 59',
 '116, 4.633, 81',
 '117, 2.317, 50',
 '118, 4.600, 85',
 '119, 1.817, 59',
 '120, 4.417, 87',
 '121, 2.617, 53',
 '122, 4.067, 69',
 '123, 4.250, 77',
 '124, 1.967, 56',
 '125, 4.600, 88',
 '126, 3.767, 81',
 '127, 1.917, 45',
 '128, 4.500, 82',
 '129, 2.267, 55',
 '130, 4.650, 90',
 '131, 1.867, 45',
 '132, 4.167, 83',
 '133, 2.800, 56',
 '134, 4.333, 89',
 '135, 1.833, 46',
 '136, 4.383, 82',
 '137, 1.883, 51',
 '138, 4.933, 86',
 '139, 2.033, 53',
 '140, 3.733, 79',
 '141, 4.233, 81',
 '142, 2.233, 60',
 '143, 4.533, 82',
 '144, 4.817, 77',
 '145, 4.333, 76',
 '146, 1.983, 59',
 '147, 4.633, 80',
 '148, 2.017, 49',
 '149, 5.100, 96',
 '150, 1.800, 53',
 '151, 5.033, 77',
 '152, 4.000, 77',
 '153, 2.400, 65',
 '154, 4.600, 81',
 '155, 3.567, 71',
 '156, 4.000, 70',
 '157, 4.500, 81',
 '158, 4.083, 93',
 '159, 1.800, 53',
 '160, 3.967, 89',
 '161, 2.200, 45',
 '162, 4.150, 86',
 '163, 2.000, 58',
 '164, 3.833, 78',
 '165, 3.500, 66',
 '166, 4.583, 76',
 '167, 2.367, 63',
 '168, 5.000, 88',
 '169, 1.933, 52',
 '170, 4.617, 93',
 '171, 1.917, 49',
 '172, 2.083, 57',
 '173, 4.583, 77',
 '174, 3.333, 68',
 '175, 4.167, 81',
 '176, 4.333, 81',
 '177, 4.500, 73',
 '178, 2.417, 50',
 '179, 4.000, 85',
 '180, 4.167, 74',
 '181, 1.883, 55',
 '182, 4.583, 77',
 '183, 4.250, 83',
 '184, 3.767, 83',
 '185, 2.033, 51',
 '186, 4.433, 78',
 '187, 4.083, 84',
 '188, 1.833, 46',
 '189, 4.417, 83',
 '190, 2.183, 55',
 '191, 4.800, 81',
 '192, 1.833, 57',
 '193, 4.800, 76',
 '194, 4.100, 84',
 '195, 3.966, 77',
 '196, 4.233, 81',
 '197, 3.500, 87',
 '198, 4.366, 77',
 '199, 2.250, 51',
 '200, 4.667, 78',
 '201, 2.100, 60',
 '202, 4.350, 82',
 '203, 4.133, 91',
 '204, 1.867, 53',
 '205, 4.600, 78',
 '206, 1.783, 46',
 '207, 4.367, 77',
 '208, 3.850, 84',
 '209, 1.933, 49',
 '210, 4.500, 83',
 '211, 2.383, 71',
 '212, 4.700, 80',
 '213, 1.867, 49',
 '214, 3.833, 75',
 '215, 3.417, 64',
 '216, 4.233, 76',
 '217, 2.400, 53',
 '218, 4.800, 94',
 '219, 2.000, 55',
 '220, 4.150, 76',
 '221, 1.867, 50',
 '222, 4.267, 82',
 '223, 1.750, 54',
 '224, 4.483, 75',
 '225, 4.000, 78',
 '226, 4.117, 79',
 '227, 4.083, 78',
 '228, 4.267, 78',
 '229, 3.917, 70',
 '230, 4.550, 79',
 '231, 4.083, 70',
 '232, 2.417, 54',
 '233, 4.183, 86',
 '234, 2.217, 50',
 '235, 4.450, 90',
 '236, 1.883, 54',
 '237, 1.850, 54',
 '238, 4.283, 77',
 '239, 3.950, 79',
 '240, 2.333, 64',
 '241, 4.150, 75',
 '242, 2.350, 47',
 '243, 4.933, 86',
 '244, 2.900, 63',
 '245, 4.583, 85',
 '246, 3.833, 82',
 '247, 2.083, 57',
 '248, 4.367, 82',
 '249, 2.133, 67',
 '250, 4.350, 74',
 '251, 2.200, 54',
 '252, 4.450, 83',
 '253, 3.567, 73',
 '254, 4.500, 73',
 '255, 4.150, 88',
 '256, 3.817, 80',
 '257, 3.917, 71',
 '258, 4.450, 83',
 '259, 2.000, 56',
 '260, 4.283, 79',
 '261, 4.767, 78',
 '262, 4.533, 84',
 '263, 1.850, 58',
 '264, 4.250, 83',
 '265, 1.983, 43',
 '266, 2.250, 60',
 '267, 4.750, 75',
 '268, 4.117, 81',
 '269, 2.150, 46',
 '270, 4.417, 90',
 '271, 1.817, 46',
 '272, 4.467, 74']

In [48]:
keys_=lines[0].split(',')

['"Index"', ' "Eruption length (mins)"', '"Eruption wait (mins)"']

In [33]:
lines

[]

In [50]:
i=0
dict_data={}
for s in f:
    if i!=0:
        x=s.split(',')
        dict_data= {key:[ii] for ii in x for key in keyes}
    else:
        pass
    i+=1

In [6]:
people = {
    'first':['Sagar','S2','S3','S4'],
    'last' :['Negi','N2','N2','N3'],
    'email':[1,2,3,4]
}

In [12]:
df2=pd.DataFrame(people)

In [13]:
df2['email']

0    1
1    2
2    3
3    4
Name: email, dtype: int64

In [14]:
df2[['email','last']]

   email  last
0      1  Negi
1      2    N2
2      3    N2
3      4    N3

In [15]:
df1.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'total_cases_per_million',
       'new_cases_per_million', 'total_deaths_per_million',
       'new_deaths_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy'],
      dtype='object')

In [18]:
df2.iloc[[1,2],2]

1    2
2    3
Name: email, dtype: int64

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
first    4 non-null object
last     4 non-null object
email    4 non-null int64
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [20]:
df2.shape

(4, 3)

In [21]:
df2.loc[[1,2],['email','last']]

   email last
1      2   N2
2      3   N2

In [33]:
df1['iso_code'].value_counts()

ITA    230
ARE    230
HRV    230
USA    230
ISL    230
      ...
ESH    113
TJK    108
COM    107
LSO     94
HKG     18
Name: iso_code, Length: 211, dtype: int64

In [24]:
df1.head(2)

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83

In [37]:
df1.loc[10000:10010,'new_cases':'tests_units']

,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,tests_per_case,positive_rate,tests_units
10000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df1.set_index('iso_code', inplace=True)

In [54]:
df1.head(10)

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
iso_code,,,,,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83